html, body {
  height: 100%;
  margin: 0;
  border: 0;
  padding: 0;
}

header {
  background-color: #1CC6FF;
  text-align: center;
  color: white;
  font-weight: 300;
  height: 10rem;
}

header h1 {
  margin-top: 0;
  padding-top: 2rem;
  font-size: 5rem;
}

p {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  height: 30px;
}

h2 {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
  font-size: 4rem;
  font-weight: 300;
}

.sidebar {
  background-color: #FF551C;
  height: 100%;
}

@media (max-width: 767px) {
  .sidebar {
    height: auto;
    padding-bottom: 10px;
  }
}
@media (max-width: 450px) {
  p {
    height: 40px;
    font-size: 2.5rem;
  }
}

.main {
  height: 100%;
}

.room-list {
  color: white;
  font-weight: 300;
  font-size: 1.3rem;
  text-align: center;
  border: 3px solid white;
  margin: 1rem;
}


.room-list:hover {
  transform: scale(1.1);
  cursor: pointer;
}


#new-room-button {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 5px;
  height: auto;
  max-width: 100px;
  min-width: auto;
}

.chat-room {
  font-size: 2rem;
  color: white;
}

.user-name {
  font-weight: 600;
  background-color: blue;
  margin-right: 5px;
  border-top-right-radius: 25px;
  padding-bottom: 5px;
}

.content {
  background-color: grey;
  border-bottom-left-radius: 25px;
  margin-bottom: 4px;
  margin-top: 35px;
  padding-top: 5px;
}

.chat-window {
  background-color: lightgrey;
}

@media (max-width: 767px) {
  .content {
    margin-top: 0;
    border-radius: 0;
    border: 0;
    padding-top: 10px;
  }
  .user-name {
    border-radius: 0;
    margin-top: 15px;
  }
}
