html, body {
  height: 100%;
  margin: 0;
  border: 0;
  padding: 0;
  color: white;
}

form {
  margin-top: 50px;
}

header {
  background-color: #1CC6FF;
  text-align: center;
  font-weight: 300;
  height: 10rem;
}

header h1 {
  margin-top: 0;
  padding-top: 2rem;
  font-size: 5rem;
}

h4 {
  background-color: #02C202;
  margin-left: 70%;
  margin-top: 0;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
  border-bottom-left-radius: 25px;
  font-size: 2rem;
}

p {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  height: 30px;
}

h2 {
  margin-top: 100px;;
  margin-bottom: 10%;
  margin-left: 20%;
  font-size: 4rem;
  font-weight: 300;
  margin-top: 0;
  background-color: #C71CFF;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;

}

h3 {
  color: black;
}

.sidebar {
  background-color: #FF551C;
  height: 100%;
}

@media (max-width: 767px) {
  .sidebar {
    height: auto;
    padding-bottom: 10px;
  }
}
@media (max-width: 450px) {
  p {
    height: 40px;
    font-size: 2.5rem;
  }
}

.main {
  height: 100%;
}

.room-list {
  font-weight: 300;
  font-size: 1.3rem;
  text-align: center;
  border: 3px solid white;
  margin: 1rem;
}


.room-list:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.chat-room {
  font-size: 2rem;
}

.user-name {
  font-weight: 600;
  background-color: blue;
  margin-right: 5px;
  border-top-right-radius: 25px;
  padding-bottom: 5px;
}

.content {
  margin-bottom: 4px;
  margin-top: 40px;
}

.time-stamp {
  float: right;
  bottom: 0;
  font-size: 1rem;
  right: 0;
  color: #02C202;

}

.chat-window {
  background-color: #484852;
}

#new-room-button {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 5px;
  height: auto;
  max-width: 100px;
  min-width: auto;
}

#room {
  margin-top: 10%;
}

@media (max-width: 767px) {
  .content {
    margin-top: 0;
    border-radius: 0;
    border: 0;
    padding-top: 10px;
  }
  .user-name {
    border-radius: 0;
    margin-top: 15px;
  }
}
