<header class="">
  <h1>Bloc Chat</h1>
</header>
<div class=" main">
  <div class="row main">
    <div class="col-xs-4 sidebar">
      <button type="button" class="btn-sm btn-default"
        id="new-room-button" ng-click="open()">New Room
      </button>

      <div class="room-list" ng-repeat="room in home.rooms.all">
        <p>
          {{room.$value}}
        </p>
      </div>
    </div>
    <div class="col-xs-8 main">
      <h2>
        Time For Tea?
      </h2>
      <img src="assets/images/tea_cup.png" alt="Tea Cup"
        class="img-responsive">
  </div>
</div>
