<header class="">
  <h1>Bloc Chat</h1>
</header>
<div class=" main">
  <div class="row main">
    <div class="col-sm-3 sidebar">
      <button type="button" class="btn-sm btn-default"
        id="new-room-button" ng-click="open()">New Room
      </button>

      <div class="room-list" ng-repeat="room in home.rooms">
        <p ng-click="home.setRoom(room)">
          {{room.$value}}
        </p>
      </div>
    </div>
    <div class="col-sm-9 main chat-window">
      <div >
        <h4 > {{ "Logged in as " + user }} </h4>
      </div>
      <div id="room">
        <h2> {{home.currentRoom}} </h2>
      </div>
      <div class="row chat-room"
        ng-repeat="chat in home.messages">
        <div class="col-sm-3 user-name">{{ chat.userName }}</div>
        <div class="col-sm-8 content">{{ chat.content }}
          <span class="time-stamp"> {{ chat.sentAt | date:"MM/dd/yyyy 'at' h:mma" }} </span>
        </div>
      </div>
      <div class="row enter-message"
        ng-show="home.currentRoom != 'Select a Chatroom!'">
        <form ng-submit=send()>
          <input type="text" class="form-control finderBar"
            ng-model="message" placeholder="Your message..."
            autofocus my-enter="send()">
          <button class="btn btn-default btn-success" type="button"
            ng-click="send()" >Send Message
          </button>
        </form>
      </div>
  </div>
</div>
